@import url("../../colors.css");

.attribute-name {
  font-family: var(--font-content);
  font-weight: 300;
  font-size: 1.1rem;
  border-radius: 1000px;
  padding: 0.6rem 1.8rem;
  margin: 0.4rem 0.5rem;
  transition: 0.3s;
}

.dependency {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.dependency .arrow {
  width: 5rem;
  margin: 0.3rem 0.5rem;
  transition: 0.3s;
}
