@import url("../../colors.css");

.value {
  border-width: 0.15rem;
  border-style: solid;
}

/* .value:focus {
  background-color: var(--background-active);
  border-color: var(--border-active);
  outline: none;
} */
